input[type=range].custom-slider 
{   
    -webkit-appearance: none;
    background-color: #A4FFAF;
    height: 8PX;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: white;
  }
input[type="range"]::-webkit-slider-thumb:hover {
    -webkit-appearance: none;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border-color: #A4FFAF;
    border-width: 0.1em;
    border-style: solid;
    background: black;
  }

input[type="checkbox"]:checked
{
    accent-color: #A4FFAF;
    
}
input[type="checkbox"]:hover
{
  cursor: grab;
}
#btn
{
  cursor: grab;
}

svg
{
  fill: #24232C;
  margin-left: 4px;
}

#clipboard
{
  fill: #A4FFAF;
}
#clipboard:hover
{
  fill: white;
}

#btn:hover 
{
  background-color: #24232C;
  border-width: 0.20em;
  border-style: solid;
  border-color: #A4FFAF;
}

#btn:hover svg
{
  fill: #A4FFAF;

}

#btn:hover span
{
color: #A4FFAF
}

#strengthIcon
{
  width: 10px;
  height: 25px;
  background-color: #24232C;
  border-style: solid;
  border-color: white;
  border-width: 0.12em;
}
